%spacing-shared {
  margin-bottom: 0;
  padding-bottom: 0;
}

main {
  box-shadow: rgba(100, 100, 111, 0.2) 0 5px 15px 0;
  margin: 15px 5px;
  padding: 10px;
  transition: box-shadow 1s;

  p {
    @extend %spacing-shared
  }

  em {
    @extend %spacing-shared;

    &.date-comment {
      font-size: 0.5em;
    }
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;

    &::after {
      opacity: 1;
    }
  }
}
