<main *ngIf="photo$ | async as p ; else notFoundPhoto"
      class="row">
  <section class="col-md-8">
    <app-photo [urlImg]="p.url" [descriptionImg]="p.description"></app-photo>
  </section>
  <section class="col-md-4">
    <p class="text-center"><span>Likes: {{p.likes}}</span> <span class="ms-5">Comments: {{p.comments}}</span></p>
    <div class="form-floating mb-1">
      <input type="text" name="comment" id="comment"
             class="form-control" placeholder="Comments">
      <label for="comment">Comments</label>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-primary btn-sm">Comments</button>
    </div>
    <article>
      <app-comments *ngFor="let comment of comments$ | async as comments"
                    [comment]="comment"></app-comments>
      <ng-template #noComments>
        <div class="text-center">
          <p>No comments</p>
        </div>
      </ng-template>
    </article>
  </section>
</main>

<ng-template #notFoundPhoto>
  <div class="text-center">
    <h2>Not found photo</h2>
    <i class="fa fa-image fa-5x"></i>
  </div>
</ng-template>
