<h3 class="text-center">Login</h3>

<form class="form mt-4">
  <div class="form-floating mb-3">
    <input class="form-control" type="text" name="username" id="username" placeholder="username">
    <label for="username">Username</label>
  </div>
  <div class="form-floating mb-3">
    <input class="form-control" type="text" name="password" id="password" placeholder="password">
    <label for="password">Password</label>
  </div>
  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-outline-primary">Login</button>
  </div>
</form>
