<header class="fixed-top">
  <nav class="navbar navbar-light bg-white me-4 ms-4">
    <a class="navbar-brand">Project APIC</a>
    <div *ngIf="(user$ | hasUser) as name; else toLogin">
      <i class="fa fa-user-circle"></i>
      <a class="ms-2 me-2">{{name}}</a>
      <a (click)="logout()">Logout</a>
    </div>
  </nav>
  <ng-template #toLogin>
    <span class="navbar-text">
      Please, <a [routerLink]="['']">login</a>
    </span>
  </ng-template>
  <div class="fixed-top">
    <app-loading></app-loading>
  </div>
</header>
