<aside class="text-center mt-3- mb-3">
  <form>
    <input type="search" class="rounded"
           placeholder="Search..." #wordFilter (keyup)="debounce$.next(wordFilter.value)"
           name="search" id="search" autofocus>
  </form>
</aside>
<section class="row" *ngIf="photos">
  <h3 *ngIf="!photos.length" class="text-center"> Sorry, no photos</h3>
  <app-photo *ngFor="let p of photos | filterByDescription: filter" class="col-sm-6 col-md-3 col-xl-2"
             [urlImg]="p.url"
             [descriptionImg]="p.description"></app-photo>
  <footer>
    <app-button (click)="loadPage()" [hasMore]="hasMore"></app-button>
  </footer>
</section>
