<aside class="text-center mt-3- mb-3">
  <form>
    <i aria-hidden="true" class="fa fa-search ms-md-3 me-2"></i>
    <input type="search" class="rounded"
           placeholder="Search..." #wordFilter (keyup)="debounce$.next(wordFilter.value)"
           name="search" id="search" autofocus>
  </form>
</aside>
<section class="row">
  <h3 *ngIf="!photos.length" class="text-center"> Sorry, no photos</h3>
  <figure class="col-sm-6 col-md-3 col-xl-4" *ngFor="let p of photos | filterByDescription: filter">
    <app-photo [urlImg]="p.url"
               [descriptionImg]="p.description"></app-photo>
    <app-icon class="fa fa-heart-o me-3" [context]="p.likes"></app-icon>
    <app-icon class="fa fa-comment-o" [context]="p.comments"></app-icon>
  </figure>

  <footer>
    <app-button (click)="loadPage()" [hasMore]="hasMore"></app-button>
  </footer>
</section>
